/tests/ export-ignore
/docs/ export-ignore
/.github/ export-ignore
/phpunit.xml* export-ignore
/phpstan.neon* export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
